@import '_variables.scss';

.newAccountContainer{
    display: flex;
    background-color: black;
    height: $main-height;
    flex-direction: column;
    align-items: center;
    color: white;

    &.modalActive{
        filter: blur(5px);
    }

      .newAccountPageContent{
        margin-top: 30px;
        height: 100%;
        width: 40%;

        .newAuthHeader{
            align-items: center;
            background: gray;
            border-radius: 30px;
            display: flex;
            width: auto;
            justify-content: space-around;
            padding: 12px 20px;

        .newAuthHeaderText{
            font-size: 1.3rem;
            font-weight: 800;
        }

        .newCreateAccountButton{
            color: white;
            cursor: pointer;
            font-weight: 800;
        }

        }

    .newTextFormContainer{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        height: 70%;
        justify-content: center;

        .newSignInFont{
            color: white;
        }

        .newSignInSubmit{
            width: 100%;
        }

      }

      }
}

