@import '_variables.scss';

.waitlistContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: scroll;
    color: white;
    transition: filter 0.3 ease-in-out;

    &.modalActive{
        filter: blur(5px);
    }

    .backButton {
        position: fixed;
        top: 32px;
        left: 28px;
        padding-top: 13px;
        padding-bottom: 13px;
        height: 56px;
        width: 56px;
        display: inline-block;
        background: black;
        color: white; 
        border-radius: 50px; 
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s, box-shadow 0.3s;
        border: none;
        transition: background-color 0.3s ease;
        cursor: pointer;
      
        &::before {
                border-color: white;
                border-style: solid;
                border-width: 0 0 4px 4px;
                content: "";
                display: block;
                height: 12px;
                left: 23px;
                position: absolute;
                width: 12px;
              
                margin-top: -6px;
                top: 50%;
              
                transition: left 0.3s;
              
                transform: rotate( 45deg );
                -webkit-transform: rotate( 45deg );
        }
      
        &::after {
            background: white;
            content: "";
            display: block;
            height: 3px;
            left: 24px;
            position: absolute;
            top: 50%;
            width: 24px;
          
            transition: left 0.3s;
        }
      
        &:hover::before, &:hover::after {
            left: 5px;
            }
      }
      

    .waitlistBody{

        .waitlistHeader{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
